body {
    width: 100vw;
    
}

#welcome {
    text-align: center;
}
img {
    height: 400px;
    width: 500px;
}

.intro {
    display: flex;
    justify-content: space-around;
}

#welcome q:hover {
    font-size: 1.6rem;
    color: #F2BB02;  
    font-weight: bold;  

}