.contact-us {
   background-image: url(https://cdn1.vectorstock.com/i/1000x1000/10/70/kenyan-flag-grunge-brush-background-vector-29631070.jpg);
   height: 600px;
   text-align: center;
   color: goldenrod;
}