body {
    background-image: black,green ;
   
}


.contact-us {
   height: 550px;
   text-align: center;
   color: green;
   padding: 50px;
   font-size: larger;
}
.footer {
    text-align: center;
    color: green;
}
